body{width:100%; background:#373737; padding:0; margin:0}
p,h1,h2,h3,h4,h5,h6{padding:0; margin:0}
#header{background:#9d4c4d; height:25px;  width:100%; padding-top:25px}

#leftmenu{ width:19%; float:left;  text-align:left; padding-top:20px}
#holdhead{color:#fff; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; margin-left:20px}

#right{float:right;  width:78%; background:#f7f7f7;  padding-left:1%;}
.sub{padding-top:10px; padding-bottom:5px;  width:95%; padding-left:5%}
.sub a{color:#fff; text-decoration:none; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:17px; }
.cl{clear:both}
#actionzone{width:98%; padding-top:40px}

th, td {
	padding: 8px 16px;
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #bebebe;
	background:#f0f0f0; font-family:Tahoma, Geneva, sans-serif;
}
th{background:#fff}

.cdata{float:left; width:16%; text-align:left; border:1px solid #ddd; min-height:30px; padding-left:1%; padding-top:9px; background:#fff}
.cmain{float:left; width:30%; text-align:left; border:1px solid #ddd; min-height:30px; padding-left:1%; padding-top:9px; background:#fff}
a{text-decoration:none;}
.cl{ clear:both}
.mains{width:38%; min-height:70px; padding-left:3%;  text-align:left; padding-top:10px; border:1px solid #ddd; margin-top:10px; margin-left:1%; padding-right:3%; background:#ff9; padding-bottom:5px; margin-bottom:10px; font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif}