body{width:auto; background:#efefef; padding:0; margin:0}
#wrapper2{position:relative; width:1000px; margin-left:auto; margin-right:auto}
p,h1,h2,h3,h4,h5,h6{padding:0; margin:0}
#header{background:#9d4c4d; height:60px; width:100%; min-width:1000px}
#component{width:1000px; min-height:700px; margin-top:40px; margin-left:auto; margin-right:auto;}
#profile{float:left; width:270px; border:1px solid #ddd; min-height:220px; background:#f7f7f7; text-align:center; font-family:Georgia, "Times New Roman", Times, serif; padding-bottom:5px}
#announcement{float:right; height:300px; width:260px;  border:1px solid #ddd; background:#fff; text-align:left; padding-left:10px; padding-top:10px}
.holder{float:left; width:100px; margin-right:10px; font-weight:bold }
.info{float:left; width:140px; text-align:left; margin-bottom:3px; word-wrap:break-word; font-family:Georgia, "Times New Roman", Times, serif}
#middle{width:420px; float:left; margin-left:15px; min-height:500px;}
.cl{clear:both}

#form1{width:100%;  border:1px solid #ddd; background:#f6f6f6; height:auto; padding-bottom:30px}
#form1 textarea{width:360px; margin-left:25px; margin-top:5px; border:1px solid #ddd; min-height:150px; padding-top:10px; padding-left:10px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif}

#form1 input[type="text"]{width:360px; margin-left:25px; margin-top:5px; border:1px solid #ddd; min-height:30px;  padding-left:10px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif}

#form1 input[type="submit"]{width:100px; margin-left:25px; margin-top:5px; border:1px solid #ddd; min-height:35px;  padding-left:10px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; float:right; margin-right:25px; }

#res{margin-top:10px; margin-left:25px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif}
#img1{height:140px; width:140px; margin-bottom:10px; margin-top:20px}

#uploader{min-height:280px; width:800px; position:absolute; top:150px; background:#ccc; left:300px; display:none; border:#ddd 1px solid; text-align:center; color:#272727; padding-top:20px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif}
#pix{height:150px; width:150px; margin-left:auto; margin-right:auto; margin-top:30px}
#img2{height:140px; width:140px; margin-bottom:10px;}

#header a{float:right; color:#fff; margin-top:38px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration:none}

#header h4{float:left; color:#fff; margin-top:38px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; margin-left:250px}

#recievers{width:360px;  margin-left:25px; margin-top:5px; word-wrap:break-word}

#resdata td{margin-left:5px;}
#resdata tr{ border:1px solid #ddd}
#resdata a{text-decoration:none}

#form2{width:100%;  border:1px solid #ddd; background:#f6f6f6; height:auto; padding-bottom:10px; text-align:center; padding-top:10px}
#form2 p{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold}


.form3{width:97%; padding-left:3%; height:auto; padding-bottom:10px; text-align:left; padding-top:10px; margin-top:10px;  border:1px solid #ddd; background:#f6f6f6; }

.mainbody{
	width:80%; background:#efefef; word-wrap:break-word; padding-left:2%; padding-right:2%; padding-bottom:5px; padding-top:5px; border:1px solid #ddd
}

.mainbody2{
	width:80%;  word-wrap:break-word; padding-left:2%; padding-right:2%; padding-bottom:5px; padding-top:5px;
}
.mainbody2 p{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold}
.ces{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold}

