body{width:100%; background:#bbb; padding:0; margin:0}
p,h1,h2,h3,h4,h5,h6{padding:0; margin:0}
#mother{width:100%;  min-height:700px;}
#linker{width:100%;  height:60px; background:#9d4c4d}
#stand{width:900px; min-height:400px; margin-left:auto; margin-right:auto; margin-top:60px; background:rgba(255,255,255,0.4); border:1px solid #bbb}
#login{float:right; width:300px; margin-right:30px; margin-top:30px; border-left:1px  dashed #fff; height:250px; font-family:"Courier New", Courier, monospace}
#login input[type=text], input[type=password]{width:250px; margin-left:20px; height:33px; margin-bottom:20px; padding-left:10px}

#login input[type=submit]{width:100px; margin-left:20px; height:40px; margin-bottom:20px; padding-left:10px; background:#1c4174; color:#fff; border:1px solid blue}
#intro{float:left; margin-left:30px; text-align:left; margin-top:30px}
.int{color:#1c4174; font-family:Georgia, "Times New Roman", Times, serif}
.lin{float:right; margin-right:30px; margin-top:20px}
.lin a{text-decoration:none; font-size:22px; font-family:"Courier New", Courier, monospace; color:#fff; font-weight:bold}
