body{width:100%; background:#efefef; padding:0; margin:0}
p,h1,h2,h3,h4,h5,h6{padding:0; margin:0}
#mother{width:100%;  min-height:700px;}
#linker{width:100%;  height:60px; background:#9d4c4d}
#stand{width:900px; min-height:620px; margin-left:auto; margin-right:auto; margin-top:40px; background:#fff; margin-bottom:30px; box-shadow:0px 0px 2px #ccc}
#login{float:right; width:300px; margin-right:30px; margin-top:30px; border-left:1px  dashed #fff; height:500px; }
#login input[type=text], input[type=password], select{width:250px; margin-left:20px; height:33px; margin-bottom:12px; padding-left:10px}
#login  select{width:265px; margin-left:20px; height:33px; margin-bottom:12px; padding-left:10px}

#login input[type=submit]{width:100px; margin-left:20px; min-height:40px; margin-bottom:20px; padding-left:10px; background:#1c4174; color:#fff; border:1px solid blue}
#intro{float:left; margin-left:30px; text-align:left; margin-top:30px; width:500px}
.int{color:#1c4174; font-family:Georgia, "Times New Roman", Times, serif}
.lin{float:right; margin-right:30px; margin-top:20px}
.lin a{text-decoration:none; font-size:18px; font-family:"MS Serif", "New York", serif; color:#fff;}
.int2{color:#9d4c4d; font-family:Georgia, "Times New Roman", Times, serif}
#image img{width:99%}